ADMIN_PANEL=https://roomsstay.vercel.app
FRONTEND_URL=https://hotelroomsstay.com/login
JWT_SECRET=your_secret_key
NODEMAILER_EMAIL=info@hotelroomsstay.com
NODEMAILER_PASSWORD=your_nodemailer_password
AWS_BUCKET_NAME=your_bucket_name
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
NODE_VERSION=21.6.2
PORT=5000
